boto==2.49.0
boto3==1.14.12
botocore==1.17.12
click==7.1.2
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.22.0
pandas==1.0.5
psycopg2-binary==2.8.5
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.1
six==1.15.0
Werkzeug==1.0.1
